---
import ThemeChanger from "../components/ThemeChanger.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="nomore-info">
    <div class="container">
		<div class="gradient-top"></div>
        <div class="gradient-bottom"></div>
		<div class="logo-container">
			<div class="logo">
				<span>nomore</span>
				<div class="justified">
					<span>n</span>
					<span>m</span>
					<span>re</span>
				</div>
				<span>nm</span>
				<div class="last-word">
					<span>n</span>
					<span>m</span>
				</div>
			</div>
		</div>
		<div class="show">
            <div class="info-text">
                <span>no more™</span>
                <span>based in Argentina</span>
                <div class="info-subtext">
                    <span>no more logos no more prints no more</span>
                    <span>walking ads</span>
                </div>
            </div>
        </div>
        <div class="menu">
			<div class="links">
				<a href="/info" class="active">info</a>
				<a href="/prtyps">prtyps</a>
				<a href="/shop">shop</a>
			</div>
			<ThemeChanger />
		</div>
	</div>
</Layout>


<style>
	.container {
		display: flex;
		flex-direction: row;
		height: 100%;
		padding-left: 6%;
	}
	.gradient-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10%;
        background: linear-gradient(to bottom, var(--background) 0%, rgba(0, 0, 0, 0) 100%);
    }
    .gradient-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10%;
        background: linear-gradient(to top, var(--background) 0%, rgba(0, 0, 0, 0) 100%);
    }
	.logo-container {
		display: flex;
		margin-top: 2rem;
		user-select: none;
	}
	.logo {
		line-height: 10rem;
		display: flex;
		flex-direction: column;
	}
	.logo span {
		font-size: clamp(1rem, 10vw, 11vw);
	}
	.justified {
		display: flex;
		justify-content: space-between;
	}
	.last-word {
		display: flex;
		flex-direction: column;
		line-height: 8rem;
	}
	.show {
		width: 30%;
	}
	a {
		color: var(--text);
		cursor: pointer;
	}
	.menu {
		display: flex;
		flex-direction: column;
		padding-top: 8rem;
		text-align: end;
		align-items: end;
	}
	.links {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		text-transform: uppercase;
		gap: 1rem;
	}
	.a {
		align-self: flex-end;
		text-align: end;
	}
	.show {
		width: 30%;
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        gap: 6rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
	}
	@media screen and (max-width: 1200px) {
		.show {
			display: none;
		}
		.container {
			padding-right: 6%;
			justify-content: space-between;
		}
	}
	@media screen and (max-width: 800px) {
		.container {
			display: none
		}
	}
    .active {
        text-transform: lowercase;
        text-decoration: none !important; 
		text-align: end;
        font-size: 1.3rem;
        color: var(--text);
    }
    .active::before {
        content: "- ";
    }
    .info-text {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        font-size: 1rem;
    }
    .info-subtext {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
</style>