---
---
<div class="a">noche</div>

<script>
  const a = document.querySelector('.a');
  const element = document.body;

  const savedMode = document.cookie.match('theme=light');

  if (savedMode) {
    element.classList.add('light-mode');
    a.textContent = 'día';
  } else {
    element.classList.remove('light-mode');
    a.textContent = 'noche';
  }

  a.addEventListener('click', function() {
    element.classList.toggle("light-mode");
    document.cookie = 'theme=' + (element.classList.contains('light-mode') ? 'light' : 'dark');

    a.textContent = element.classList.contains('light-mode') ? 'día' : 'noche';
  });
</script>

<style>
  .a {
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
  }
  body {
    color: var(--text);
    background: var(--background);
  }
</style>